<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='create_acc.css') }}">
    </head>
    <body>
        <form action="/create_acc-form" method="post" class="create_acc-form">
            <h2>Monster's University</h2>
            <div class="input-group">
                <div>Create Username:</div>
                <input type="text" name="username" id="user" placeholder="Username" required>
            </div>
            <div class="input-group">
                <div>Create Password:</div>
                <input type="password" name="password" id="pw" placeholder="Password" required>
                <div>Confirm Password:</div>
                <input type="password" name="password" id="pw" placeholder="Password" required>
                <label for="account_type">Please select account type: </label>
                <select name="account_type" class="account_type">
                    <option value="student">Student</option>
                    <option value="teacher">Teacher</option>
                    <option value="admin">Admin</option>
                </select>
            </div>
            <input type="button" value="Create">
        </form>
    </body>
</html>