html, body {
    margin: 10;
    padding: 0;
    background-color: rgb(201, 224, 255);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: fit-content;
    justify-content: center;
}
.login-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: fit-content;
}
.input-group {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}
.create-account-btn {
    display: inline-block;
    padding: 1.9px 3.8px;
    background-color: #eaeaea;
    color: rgb(50, 50, 50);
    text-align: center;
    text-decoration: none;
    border: 1px solid #717171;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
}

.create-account-btn:hover {
    background-color: #e1e1e1;
    border: 1px solid #4d4d4d;
}