<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
        <!-- <link rel="stylesheet" href="login.css"> -->
    </head>
<body>
    <form action="/login" method="post" class="login-form">
        <h2>Monster's University</h2>
        <div class="input-group">
            <div>Username:</div>
            <input type="text" name="username" id="username" placeholder="Username" required>
        </div>
        <div class="input-group">
            <div>Password:</div>
            <input type="password" name="password" id="password" placeholder="Password" required>
        </div>
        <input type="submit" value="Login">
        <a href="create_acc.html" class="create-account-btn">Create Account</a>
    </form>
</body>
</html>
