<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='student.css') }}">
        <!-- <link rel="stylesheet" href="student.css"> -->
    </head>
<body>
    <h2>Monster's University</h2>
    <p>Welcome {{ firstname }}</p> 
    <input type="button" value="Sign Out" onclick="signOut()">
    <input type="button" value="Your Courses" onclick="yourCourses()">
    <input type="button" value="Add Courses" onclick="addCourses()">
    <!-- your courses -->
    <div id="yourCoursesTable" class="table-container">
        <h3>Your Courses</h3>
        <table>
            <thead>
                <tr>
                    <th>Course Name</th>
                    <th>Teacher</th>
                    <th>Time</th>
                    <th>Students Enrolled</th>
                </tr>
            </thead>
            <tbody>
               
            </tbody>
        </table>
    </div>
    <!-- add Courses -->
    <div id="addCoursesTable" class="table-container">
        <h3>Add Courses</h3>
        <table>
            <thead>
                <tr>
                    <th>Course Name</th>
                    <th>Teacher</th>
                    <th>Time</th>
                    <th>Students Enrolled</th>
                    <th>Add Class</th>
                </tr>
                {%for class in available_classes %}
                <tr>
                    <td>{{classes.Name}}</td>
                    <td>{{classes.teacher_name}}</td>
                    <td>{{classes.enrollment|length}}/{{classes.capacity}}</td>
                    <td><button onclick="enroll('{{class.Name}}','{{Name}}')">Enroll</button></td>
                </tr>
                {% endfor %}
            </table>
            </thead>
            <tbody>
               
            </tbody>
        </table>
    </div>
</body>
    <script>
        // when one of them is clicked the other goes invisible
        function yourCourses() {
            document.getElementById('yourCoursesTable').style.display = 'block';
            document.getElementById('addCoursesTable').style.display = 'none';
        }

        function addCourses() {
            document.getElementById('yourCoursesTable').style.display = 'none';
            document.getElementById('addCoursesTable').style.display = 'block';
        }
        function signOut() {
            // Redirect the user to the login page
            window.location.href = '/login';
        }
    </script>
</html>
